# /etc/systemd/system/sentiment_api.service
[Unit]
Description=sentiment_api (Sentimeter) API
After=network.target

[Service]
Type=simple
User=sentiment
WorkingDirectory=/opt/sentiment_api
EnvironmentFile=/etc/sentiment_api/env
ExecStart=/opt/sentiment_api/.venv/bin/sentiment-api api
Restart=always
RestartSec=2
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
